<!DOCTYPE html>
<html>
<head>
  <title>Error 500 - Internal Server Error</title>
  <link rel="stylesheet" type="text/css"  href="../../CSS/error.css"/>
</head>
<body>
  <div class="error-container">
    <div class="error-message">
      <h1>Error 500 - Internal Server Error</h1>
      <p>Oops! Something went wrong on the server.</p>
      <p>We apologize for the inconvenience.</p>
      <p>Please try again later or contact the administrator.</p>
      <p>Go back to the <a href="/">homepage</a>.</p>
    </div>
  </div>
</body>
</html>